<div class="center hero-unit">
	<h1>Välkommen till Övningsappen</h1>

	<h2>
			Detta är hemsidan för
			<%= link_to "Ruby on Rails Tutorial", 'http://railstutorial.org' %>
			övningsappen.
	</h2>

	<%= link_to "Skapa konto nu!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>